@import variables.css;

* {
    font-family: 'Source Serif Pro', serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    background-image: url("../img/lake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 60%;
}

main {
    flex: 1;
    margin: 10px;
}

body#experience,body#about {
    box-shadow: inset 0 0 0 100vmax rgba(204, 204, 204, 0.3)
}

footer {
    margin-top: 25px;
    min-width: 100%;
    text-align: center;
}

h1.name {
    font-family: 'Crimson Text', serif;
    font-size: 84px;
    display: inline;
    float: left;
}

h1.sub {
    font-family: 'Crimson Text', serif;
}

p {
	font-size:24px;
}

a {
	color: black;
}

nav {
	float: right;
	font-size: 20px;
}

nav a {
    color: black;
    padding: 8px 16px;
}

/* Change the link color on hover */
a:hover {
    color: #5e858f;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul#hobbies {
    padding-left: 40px;
    list-style-type: disc;
}

li#experience {
	margin-bottom: 20px;
}

li {
    font-size: 20px;
}

li p {
	font-size: 18px;
}

.fa {
    font-size: 24px;
}

.company {
	font-size: 24px;
    font-weight: 500;
    display: inline-block;
    margin: 0;
}

.company-img {
	height:30px;
}

.work-length {
    font-size: 18px;
    background: rgba(204, 204, 204, 0.5);
    margin-left: 1px;
    border-radius: 7px;
    padding: 3px;
}
